<!DOCTYPE html>
<html lang="en">
    <head>
        <title>2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="sty2.css" rel="stylesheet">
    
    <style>
        .h1{text-align: center;
color: #230707;
        }
    </style>
    
    </head>
<body>
<h1 > chat bot</h1>

<p>
   {{bot_response}}
</p>

<form  method="post"action="{{url_for('chatbot')}}" class="chat-input">
    <input type="text" id="message"name="message" placeholder="type msg"required>
    <button type="submit">send</button>
</form>



</body>



</html>