<!DOCTYPE html>
<html lang="en">
    <head>
        <title>1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="sty.css" rel="stylesheet">
    </head>
<body><div class="tt"></div>
<h1 style="text-align: center;"> chat bot</h1>
</div>
<p style="text-align: center;">
    chat bot:hi batman please enter text..
</p>
<div style="text-align: center;">
<form  method="post"action="{{url_for('chatbot')}}" class="chat-input">
    <input type="text" id="message"name="message" placeholder="type msg"required>
    <button type="submit">send</button>
</form>
</div>


</body>



</html>